html, body{
    width: 100%;
    height: 100%;
}

.secondMenu div {
    width: 60px;
    height: 60px;
    display: flex; 
    justify-content: center;
    align-items: center; 
    border: 1px solid rgba(128, 128, 128, 0.527);
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.071);
    margin-bottom: 25px;
    margin-right: 70px;
    
}

.secondMenu p {
    font-family: 'bellefair', sans-serif;
    font-size: 20px;
    
}

.secondMenu div:hover{
    background-color: transparent;
    border-color: white;
    transition: 0.5s;
    cursor: pointer;
}

.secondMenu div:active{
    background-color: white;
    color: black;
    transition: 0.1s;
    cursor: pointer;
    /* -webkit-filter: invert(100%);
    filter: invert(1); */
}



 .active-link { 
    background-color: white !important;
    color: black;
}

#techDescription, .terminology { 
    font-family: 'barlow', sans-serif;
    color: #D0D6F9;
}

.terminology{
    text-transform: uppercase;
}

.leftSide-content{
    width: 600px;
    margin-top: 40px;
}

#techName{
    margin: 15px 0 25px 0;
}

#techDescription {
    width: 400px;
}

.rightSide-content{
    margin-top: -50px;
    margin-right: -200px;
}

.rightSide-content img {
    height: 400px;
    width: 500px;
}


@media screen and (max-width: 992px) {
    html, body {
        overflow: hidden;
    }

    .mainContainer{
        margin-top: 10px;
    }
    

    .allContent {
        flex-direction: column-reverse;
        margin-top: -50px;
        margin: 0 auto;
    }

    .rightSide-content {
        width: 100vw;
        margin-top: 0;
        
    }

    .rightSide-content img {
        width: 100%;
        height: 250px;
    }   

    .mainContainer h4 {
        font-size: 15px;
        width: fit-content;
        margin-bottom: 20px;
        margin-left: 60px;
    }

    .leftSide-content {
        margin: 0 auto;
        width: fit-content;
        text-align: center;
    }

    .leftSide-Menu {
        flex-direction: column;
        align-items: center;

    }

    .secondMenu {
        display: flex;
        margin-top: 25px;
    }

    .menu-link:last-child {
        margin-right: 0;
    }

    .secondMenu div {
        width: 40px;
        height: 40px;
        
    }

    .terminology {
        font-size: 15px;
    }

    .content h3 {
        font-size: 30px;
    }
    .techDescription{
        font-size: 12px;
    }
}

@media screen and (max-width:767px) {
    .content {
        max-width: 450px !important;
        margin: 0 30px;
    }

    .techDescription {
        width: 100% !important;
    }

    .secondMenu > div{
        margin-right: 20px;
    }

    .mainContainer h4 {
        margin: 0 auto;
        margin-bottom: 20px;
    }

    
}